body {
	background-color: lightblue;
	
}

/* styling of the button */
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D; /* Green */
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D; /* Green */
}

/* hover effect */
.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}